{% extends "base.html" %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    
    <h1>This is the home page of our todo app.</h1>
    {% for task in tasks %}
        <p>{{ task.description }}</p>
        <p>{{ task.is_done }}</p>
        <p>{{ task.date_created }}</p>
        <a href="{% url 'main_todo:update-task' task.pk %}">Update task</a>
        <a href="{% url 'main_todo:delete-task' task.pk %}">Delete task</a>
    {% endfor %}

{% endblock %}
