{% extends "base.html" %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    
    <h1 class="display-1 text-center text-primary">This is the home page of our todo app.</h1>
    {% for task in tasks %}
    <ul class="list-group">
        <div class="row">
        <div class="col-9">{{ task.description }}</div>
        <a class="btn btn-primary btn-info" href="{% url 'main_todo:update-task' task.pk %}">Update task</a>
        <a class="btn btn btn-danger" href="{% url 'main_todo:delete-task' task.pk %}">Delete task</a>
    </div>
    {% endfor %}
</ul>
{% endblock %}
