body {
  background-color: #fafafa;
  font-family: "Nunito", sans-serif;
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a,
p {
  color: #4b5156;
}

a {
  font-weight: 600;
}

.container {
  max-width: 550px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  padding: 5px;
}

input {
  outline: none;
  border: none;
}

.header-bar {
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(90deg, #8f97e3 0%, #6671d9 43%, #2d3bc2 100%);
}

.header-bar a {
  color: rgb(247, 247, 247);
  text-decoration: none;
}

.header-bar header {
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 5rem;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid #dfe4ea;
  overflow: hidden;
}

.task-title {
  display: flex;
  padding: 20px;
}

.task-title a {
  text-decoration: none;
  color: #4b5156;
  margin-left: 10px;
}

.delete-link {
  text-decoration: none;
  font-weight: 900;
  color: #cf4949;
  font-size: 22px;
  line-height: 0;
  padding: 10px 20px;
}

#search-add-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 320px) {
  #search-add-wrapper {
    padding: 10px;
  }
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #757575;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
}

.button {
  border: 1px solid #757575;
  background-color: #fff;
  color: #eb796f;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
